.bs-example{
    margin: 20px;
}
.icon-input-btn{
    display: inline-block;
    position: relative;
}
.icon-input-btn input[type="submit"]{
    padding-left: 2em;
}
.icon-input-btn .glyphicon{
    display: inline-block;
    position: absolute;
    left: 0.65em;
    top: 30%;
}

.button-group {
    display: flex;
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid;
}